<div class="w-full mt-6 text-center">Bekijk de allergie-informatie voor:</div>


<div class="w-full my-2 flex justify-center">
  <button class="py-2 px-4 border-t-2 border-b-2 border-l-2 rounded-l hover:bg-secondary hover:text-white hover:border-secondary border-secondary bg-secondary text-white" data-allergie-button="dinsdagdiner" onclick="changeProgram('dinsdagdiner')">Diner dinsdag</button>
  <button class="py-2 px-4 border-t-2 border-b-2 hover:bg-secondary hover:text-white hover:border-secondary border-primary" data-allergie-button="lunch" onclick="changeProgram('lunch')">Lunch woensdag</button>button>
  <button class="py-2 px-4 border-t-2 border-b-2 border-r-2 rounded-r hover:bg-secondary hover:text-white hover:border-secondary border-primary" data-allergie-button="woensdagdiner" onclick="changeProgram('woensdagdiner')">Diner woensdag</button>
</div>


{% include allergie_dinsdagdiner.html %}
{% include allergie_lunch.html %}
{% include allergie_woensdagdiner.html %}
