<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"/>
  <meta name="author" content="Ruben Smit">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="/style/style.css">
</head>
<body class="text-primary font-serif bg-tan">
<nav class="flex justify-center p-5">
  <div class="py-2 border-b-2 border-primary text-xl font-semibold space-x-6">
    <a href="/">Home</a>
    <a href="/programma">Programma</a>
    <a href="/">Overnachten</a>
    <a href="/">Help mee</a>
    <a href="/">Vraag & Antwoord</a>
    <a href="/" class="text-secondary">Aanmelden</a>
  </div>
</nav>
<article>
  {{ content }}
</article>
<footer class="text-center p-5 mt-20">
  © Ruben Smit 2024
</footer>
</body>
</html>
