<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}"/>
  <meta name="author" content="Ruben Smit">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="/style/style.css">
</head>
<body class="text-primary font-serif bg-tan">
<nav class="flex justify-center p-2">
  <div class="border-b-2 py-2 border-primary text-xl font-semibold space-x-4">
    <a href="/" class="p-2 hover:font-bold">Thuis</a>
    <a href="/programma" class="p-2 hover:font-bold">Programma</a>
    <a href="/overnachten" class="p-2 hover:font-bold">Overnachten</a>
    <a href="/help_mee" class="p-2 hover:font-bold">Help mee</a>
    <a href="/vraag_en_antwoord" class="p-2 hover:font-bold">Vraag & Antwoord</a>
    <a href="/rsvp" class="p-2 hover:font-bold text-secondary">RSVP</a>
  </div>
</nav>
<article>
  {{ content }}
</article>
<footer class="text-center p-5 mt-20">
  © Ruben Smit 2024
</footer>
</body>
</html>
